<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8" />
<meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″ />
<title>编辑</title>
<link th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"></link>
<link rel="stylesheet" th:href="@{/resource/plugins/position-validate/css/validationEngine.jquery.css}"/>
<link rel="stylesheet" th:href="@{/resource/css/sys_common.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
<script th:src="@{/resource/plugins/position-validate/js/jquery.validationEngine-zh_CN.js}"></script>
<script th:src="@{/resource/plugins/position-validate/js/jquery.validationEngine.js}"></script>
<script type="text/javascript" th:src="@{/resource/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/resource/js/lyaer_moon.js}"></script>
<script type="text/javascript" th:src="@{/resource/logic-js/edit_dir.js}"></script>
<style type="text/css">
html { overflow-x: hidden; overflow-y: auto; }
td {
text-align:center; /*设置水平居中*/
vertical-align:middle;/*设置垂直居中*/
}
</style>
</head>
<body>
<div class="container-fluid" style="padding: 30px;">
	<div class="row">
		<form data="editForm" class="form-horizontal" id="saveObjForm">
			<input type="hidden"  name="id" th:value="${directory.id}"/>
    		<table class="table table-bordered" >
			<tr>
	    		<td  class="text-r" style="width: 15%;vertical-align:middle;">目录名称</td>
	    		<td>
		     		<input type="text" style="width:80%" name="name"  placeholder="请输入目录名称" th:value="${directory.name}" class="form-control validate[required,maxSize[10]]"/>
	    		</td>
	    	</tr>
			<tr style="display: none;">
	    		<td  class="text-r td_center" style="width: 15%">父目录ID</td>
	    		<td>
		     		<input type="text" style="width:20%" name="parentId"  placeholder="请输入父目录ID" th:value="${directory.parentId}" class="form-control validate[required]"/>
	    		</td>
	    	</tr>
    </table>
   </form>
</div>
</div>
</body>
</html>