<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8" />
<title>编辑</title>
<link th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"></link>
<link rel="stylesheet" th:href="@{/resource/plugins/position-validate/css/validationEngine.jquery.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
<script th:src="@{/resource/plugins/position-validate/js/jquery.validationEngine-zh_CN.js}"></script>
<script th:src="@{/resource/plugins/position-validate/js/jquery.validationEngine.js}"></script>
<script type="text/javascript" th:src="@{/resource/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/resource/js/edit.js}"></script>
<style type="text/css">
html { overflow-x: hidden; overflow-y: auto; }
</style>
</head>
<body>
<div class="container-fluid" style="padding: 30px;">
	<div class="row">
		<form data="editForm" class="form-horizontal" id="saveObjForm">
			<input type="hidden"  name="id" th:value="${directory.id}"/>
    		<table class="table table-bordered" >
			<tr>
	    		<td  class="text-r" style="width: 15%">目录名称</td>
	    		<td>
		     		<input type="text" style="width:20%" name="name"  placeholder="请输入目录名称" th:value="${directory.name}" class="form-control validate[required]"/>
	    		</td>
	    	</tr>
			<tr>
	    		<td  class="text-r" style="width: 15%">父目录ID</td>
	    		<td>
		     		<input type="text" style="width:20%" name="parentId"  placeholder="请输入父目录ID" th:value="${directory.parentId}" class="form-control validate[required]"/>
	    		</td>
	    	</tr>
			<tr>
	    		<td  class="text-r" style="width: 15%">创建时间</td>
	    		<td>
		     		<input type="text" style="width:20%" name="createTime"  placeholder="请输入创建时间" th:value="${directory.createTime}" class="form-control validate[required]"/>
	    		</td>
	    	</tr>
			<tr>
	    		<td  class="text-r" style="width: 15%">创建人</td>
	    		<td>
		     		<input type="text" style="width:20%" name="createUserName"  placeholder="请输入创建人" th:value="${directory.createUserName}" class="form-control validate[required]"/>
	    		</td>
	    	</tr>
			<tr>
	    		<td  class="text-r" style="width: 15%">修改时间</td>
	    		<td>
		     		<input type="text" style="width:20%" name="updateTime"  placeholder="请输入修改时间" th:value="${directory.updateTime}" class="form-control validate[required]"/>
	    		</td>
	    	</tr>
			<tr>
	    		<td  class="text-r" style="width: 15%">修改人</td>
	    		<td>
		     		<input type="text" style="width:20%" name="updateUserName"  placeholder="请输入修改人" th:value="${directory.updateUserName}" class="form-control validate[required]"/>
	    		</td>
	    	</tr>
			<tr>
	    		<td  class="text-r" style="width: 15%">当前路径</td>
	    		<td>
		     		<input type="text" style="width:20%" name="curPath"  placeholder="请输入当前路径" th:value="${directory.curPath}" class="form-control validate[required]"/>
	    		</td>
	    	</tr>
			<tr>
	    		<td  class="text-r" style="width: 15%">是否删除</td>
	    		<td>
		     		<input type="text" style="width:20%" name="idDelete"  placeholder="请输入是否删除" th:value="${directory.idDelete}" class="form-control validate[required]"/>
	    		</td>
	    	</tr>
    </table>
   </form>
</div>
</div>
</body>
</html>